.hide-navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 224, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}